body{
  background: url(background.jpg) fixed no-repeat;
  background-size: cover;
  text-align: center;
  font-family: sans-serif;
}
.container{
  width: 1250px;
  margin: auto;
}
/* Transparent Box */
.sfondo{
  background: rgba(0,0,0,0.5) ;
  padding: 70px;
  margin-top: 35px;
  border-radius: 20px;
}
/* Logo e Titolo */
header h1 {
  color: #00ff00;
  font-size: 35px;
  margin: 6px 3px}
.logo{
 width: 240px;
}
/* Barra navigazione */
nav div {
  background-color: #00ff00;
  padding: 10px;
}
/* Elenco monopattini */
section > div {
  text-align: left;
  color: #ffffff;
}
div h3 {
  display: inline-block;
  margin-bottom: 0px;
}
h3::before{
  content: "\21A6";
}
.carica1, .carica2, .carica3{
  border-radius:10px;
  height: 27px;
}
.carica1{
  background-color: #FFA500;
  width: 30%;
}
.carica2{
  background-color: #00ff00;
  width: 60%;
}
.carica3{
  background-color: #d21404;
  width: 15%;
}
